{%extends ":pages:registration.html.twig"%}
{% form_theme form 'UserBundle:Registration:form_theme.html.twig' %}

{% block body %}

<form class="form" method="post" {{ form_enctype(form) }}>
{{ form_hidden(form) }}
<table>
    <tr>
        <th>{{ form_label(form.email) }}</th>
        <td>
            {{ form_field(form.email)}}
            {{ form_errors(form.email)}}
        </td>
    </tr>
    <tr>
        <th>{{ form_label(form.name) }}</th>
        <td>
            {{ form_field(form.name)}}
            {{ form_errors(form.name)}}
        </td>
    </tr>
    <tr>
        <th>{{ form_label(form.surname) }}</th>
        <td>
            {{ form_field(form.surname)}}
            {{ form_errors(form.surname)}}
        </td>
    </tr>
    <tr>
        <th>{{ form_label(form.password) }}</th>
        <td>
            {{ form_field(form.password)}}
            {{ form_errors(form.password)}}
        </td>
    </tr>
    <tr>
        <th></th>
        <td>
            {{ form_field(form.termsAccepted) }}
            {{ form_label(form.termsAccepted) }}
            {{ form_errors(form.termsAccepted) }}
        </td>
    </tr>
    <tr>
        <th>
            <img src="_captcha"/>
        </th>
        <td>
            {{ form_field(form.captcha) }}
            {{ form_errors(form.captcha) }}
            {{ form_errors(form) }}
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="submit">
            <input class="button" type="submit" name="submit" value="{% trans 'Register' %}"/>
        </td>
    </tr>
</table>
</form>
{% endblock body %}

