<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Site name{% endblock %}</title>

        <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js') }}"></script>
        <script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js') }}"></script>
        <link href="{{ asset('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/south-street/jquery-ui.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/base.css') }}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <div class="body">
        <header>
            <div class="container">
                <h1>
                    <a href="{{ path('homepage') }}">Site name</a>
                </h1>
            </div>
        </header>
        <div class="container">
            <div class="main">
                {% block theme %}{% endblock theme %}
            </div>
            <div class="footer">
                Footer
            </div>
        </div>
    </div>
    </body>
</html>
