{% extends "UserBundle::layout.twig" %}

{%block head%}
    <link href="{% asset 'css/registration.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% asset 'css/wizard.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% asset 'js/jquery/tools/jquery.tools.min.js' %}"></script>
    <script src="{% asset 'js/wizard.js' %}"></script>
    <script>
        $().ready(function(){
            $('.register').wizard();
        });
    </script>
{%endblock head%}

{% block content %}
{% trans 'Registration' %}

<form method="post">


    <div class="register">
        <ul class="steps">
            <li><b>1. {% trans 'Create Account'%}</b></li>
            <li><b>2. {% trans 'Contact information'%}</b></li>
            <li><b>3. {% trans 'Finalize'%}</b></li>
        </ul>
        <div class="items">
            <div class="page">

                <h2>
					<b>{% trans 'Step' %} 1:</b>
					<em>{% trans 'Please enter your login information'%}:</em>
				</h2>

                <ul>
                    <li class="required">
                        {{ form.user.email|render_label }}
                        {{ form.user.email|render }}
                        {{ form.user.email|render_errors }}
                    </li>

                    <li class="required double password">
                        <div class="password">
                            {{ form.user.password.first|render_label }}
                            {{ form.user.password.first|render }}
                            {{ form.user.password.first|render_errors }}
                        </div>
                        <div class="password">
                            {{ form.user.password.second|render_label }}
                            {{ form.user.password.second|render }}
                            {{ form.user.password.second|render_errors }}
                        </div>
                        <div class="clr"></div>
                    </li>

                    <li>
                        {{ form.user.name|render_label }}
                        {{ form.user.name|render }}
                        {{ form.user.name|render_errors }}
                    </li>

                    <li>
                        {{ form.user.type|render_label }}
                        {{ form.user.type|render }}
                        {{ form.user.type|render_errors }}
                    </li>

                    <li>
                        {{ form.termsAccepted|render_label }}
                        {{ form.termsAccepted|render }}
                        {{ form.termsAccepted|render_errors }}
                    </li>

                    <li class="clearfix">
                        <button type="button" class="next right">Proceed &raquo;</button>
                    </li>
                </ul>

            </div>
            <div class="page">
                <ul>
                    <li>
                        {{ form.userdata.country|render_label }}
                        {{ form.userdata.country|render }}
                        {{ form.userdata.country|render_errors }}
                    </li>
                    <li>
                        {{ form.userdata.city|render_label }}
                        {{ form.userdata.city|render }}
                        {{ form.userdata.city|render_errors }}
                    </li>
                    <li>
                        {{ form.userdata.address|render_label }}
                        {{ form.userdata.address|render }}
                        {{ form.userdata.address|render_errors }}
                    </li>
                    <li>
                        {{ form.userdata.address2|render_label }}
                        {{ form.userdata.address2|render }}
                        {{ form.userdata.address2|render_errors }}
                    </li>
                    <li class="clearfix">
						<button type="button" class="prev" style="float:left">&laquo; Back</button>
						<button type="button" class="next right">Proceed &raquo;</button>
					</li>

					<br clear="all" />
                </ul>
            </div>
            <div class="page">
                <ul>
                    <li class="clearfix">
                        <button type="button" class="prev" style="float:left">&laquo; Back</button>
                        <input type="submit" />
                    </li>

                    <br clear="all" />
                </ul>
            </div>
        </div>
    </div>
    {{ form|render_hidden }}
</form>
{% endblock %}